@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider

@using Umbraco.Cms.Web.Common.PublishedModels;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{ 
    var selection = Model.Ancestors().ToArray(); 
    var homePageDisplayName = "Home";
    var isFirstItem = true;

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x=> x.ContentType.Alias == "settingsPage") ?? null;
    var leftDecor = settings?.Value<IPublishedContent>("breadcrumbDecorLeftside").Url() ?? null;
    var rightDecor = settings?.Value<IPublishedContent>("breadcrumbDecorRightside").Url() ?? null;
}

<section class="page-title bg-gray">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        @if (selection?.Length > 0)
        {
            <ul class="breadcrumb">
                 
                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    var displayName = isFirstItem ? homePageDisplayName : item.Name;
                    <li><a href="@item.Url(PublishedUrlProvider)">@displayName</a></li>
                    isFirstItem = false;
                }
                
                <li class="active">@Model.Name</li>
            </ul>
        }
    </div>
    <img class="decor-down" src="@leftDecor" alt="decor-globe-down" />
    <img class="decor-up" src="@rightDecor" alt="decor-globe-up" />
</section>